<%= form_for([:admin, template]) do |f| %>
  <%= render partial: "/shared/errors", locals: {record: template} %>

  <aside class="preview">
    <ol class="cf">
      <li>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </li>

      <li>
        <%= f.label :format %>
        <%= f.select(:format, options_for_select([["PDF", "pdf"], ["PNG", "png"]], @template.format)) %>
      </li>

      <li>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </li>

      <li>
        <%= f.label :customize, "Customizable?" %>
        <%= f.select(:customize, [["Yes", true], ["No", false]]) %>
      </li>

      <li>
        <%= f.label :campaign %>
        <%= f.select(:campaign_id, options_from_collection_for_select(@campaigns, 'id', 'title', @template.campaign_id ? @template.campaign_id : ''), include_blank: 'NULL') %>
      </li>

      <li>
        <%= f.label :category %>
        <%= f.select(:category_id, options_from_collection_for_select(@categories, 'id', 'title', @template.category_id), include_blank: 'NULL') %>
      </li>

      <li id="customizable-options">
        <%= f.label :customizable_options %>
        <%= f.text_area :customizable_options %>
      </li>

      <li data-for="orientation">
        <%= f.label :orientation %>
        <%= f.select(:orientation, [["Portrait", "Portrait"], ["Landscape", "Landscape"]]) %>
      </li>

      <li data-for="unit">
        <%= f.label :unit, "Unit of Measurement" %>
        <%= f.select(:unit, [["Inches", "in"], ["Pixels", "px"]]) %>
      </li>

      <li>
        <%= f.label :height, "Height (<span class='unit'></span>)".html_safe %>
        <%= f.text_field :height %>
      </li>

      <li>
        <%= f.label :width, "Width (<span class='unit'></span>)".html_safe %>
        <%= f.text_field :width %>
      </li>

      <li data-for="crop-marks">
        <%= f.label :crop_marks, "Use Crop Marks?" %>
        <%= f.select(:crop_marks, [["Suppress from Document", :no_crop_marks], ["Use crop marks; off by default", :false_by_default], ["Use crop marks; on by default", :true_by_default]] ) %>
      </li>

      <li>
        <%= f.label :status %>
        <%= f.status_select %>
      </li>
    </ol>
  </aside>

  <section class="workspace cf">
    <ol>
      <li id="pdf-markup">
        <%= f.label :pdf_markup %>
        <%= f.text_area :pdf_markup %>
      </li>

      <li id="mini-magick-markup">
        <%= f.label :mini_magick_markup %>
        <%= f.text_area :mini_magick_markup %>
      </li>

      <li id="form-markup">
        <%= f.label :form_markup %>
        <%= f.text_area :form_markup %>
      </li>
    </ol>

    <div class="buttons small cf">
      <%= f.submit "Save", class: "save active" %>
    </div>
  </section>
<% end %>


<div class="image-upload cf">
  <% unless @template.new_record? %>
    <% unless @template.customize? %>
      <%= form_for([:admin, template], html: {class: "dropzone", multipart: true, id: "template-static-pdf-form"}) do |f| %>
        <div class="label">
          <%= f.label :static_pdf %>
        </div>
        
        <% if @template.static_pdf_file_name %>
          <div class="current-image">
            <%= link_to "View PDF", @template.static_pdf.url, target: :_blank %>
          </div>
        <% end %>

        <div class="fallback">
          <%= f.file_field :static_pdf %>
        </div>
      <% end %>
    <% end %>

    <%= form_for([:admin, template], html: {class: "dropzone", multipart: true, id: "template-thumbnail-form"}) do |f| %>
      <div class="label">
        <%= f.label :thumbnail %>
      </div>
      
      <% if @template.thumbnail_file_name %>
        <div class="current-image">
          <img src="<%= @template.thumbnail.url %>" />
        </div>
      <% end %>

      <div class="fallback">
        <%= f.file_field :thumbnail %>
      </div>
    <% end %>

    <%= form_for([:admin, template], html: {class: "dropzone", multipart: true, id: "template-numbered-form"}) do |f| %>
      <div class="label">
        <%= f.label :numbered_image %>
      </div>
      
      <% if @template.numbered_image_file_name %>
        <div class="current-image">
          <img src="<%= @template.numbered_image.url %>" />
        </div>
      <% end %>

      <div class="fallback">
        <%= f.file_field :numbered_image %>
      </div>
    <% end %>

    <%= form_for([:admin, template], html: {class: "dropzone", multipart: true, id: "template-blank-form"}) do |f| %>
      <div class="label">
        <%= f.label :blank_image %>
      </div>
      
      <% if @template.blank_image_file_name %>
        <div class="current-image">
          <img src="<%= @template.blank_image.url %>" />
        </div>
      <% end %>

      <div class="fallback">
        <%= f.file_field :blank_image %>
      </div>
    <% end %>
  <% end %>
</div>

