<li><%= link_to "Edit Profile", profile_path %></li>
<li><%= link_to "Activity Feed", admin_root_path %></li>
<li><%= link_to "Manage Users", admin_users_path %></li>
<li><%= link_to "Manage Campaigns", admin_campaigns_path %></li>
<li><%= link_to "Manage Categories", admin_categories_path %></li>
<li><%= link_to "Manage Templates", admin_templates_path %></li>
<li><%= link_to "Manage Stock Images", admin_stock_images_path %></li>
<li><%= link_to "Statistics", admin_stats_path %></li>
<li><%= link_to "Documentation", admin_documentation_path, target: :_blank %></li>
<li><%= link_to "Support", support_path %></li>  
<li><%= link_to "Log Out", destroy_user_session_path, method: 'delete' %></li>   
