<ul>
  <li><%= link_to "Campaigns", campaigns_path %></li>
  <li><%= link_to "Flyers", flyers_path %></li>
  <li><%= link_to "Images", images_path %></li>
  <li><%= link_to "Templates", templates_path %></li>
  <li><%= link_to "Folders", folders_path %></li>
</ul>
