<header>
    <nav>
        <a href="/" title="AFSCME Toolkit" id="logo" itemprop="url">
          <%= image_tag("toolkit-logo.svg", alt: "AFSCME Toolkit", itemprop: "logo") %>
        </a>

        <button title="Menu" class="menu-trigger">
          <span class="hamburger"></span>
          <span class="hide">Menu</span>
        </button>    
        <button title="Your Account" class="user-trigger">
          <span class="icons">u</span>
        </button>    
                
        <ul class="menu left mystuff"> 
          <li>
            <%= link_to "My Stuff", documents_path, title: "My Stuff" %>
            <ol>
              <li><%= link_to "My Designs", documents_path, title: "My Designs" %></li>
              <% if false %>
              <li><%= link_to "Recent", recent_documents_path, title: "Recent" %></li>           
              <li><%= link_to "Shared with me", shared_documents_path, title: "Shared with me" %></li> 
              <% end %>
              <li><%= link_to "My Images", images_path %></li> 
              <% if false %>
              <li><%= link_to "Trash", trash_documents_path, title: "Trash" %></li> 
              <% end %>
            </ol>
          </li>
        </ul>
        
        <ul class="menu left templates"> 
          <li>
            <a href="/campaigns" title="Browse Templates">Browse Templates</a>
            <ol>
              <li><%= link_to "Campaigns", campaigns_path %></li>
              <li><%= link_to "View All", templates_path, title: "View All" %></li>
              <% @categories.each do |category| %>
                <li><%= link_to category.title, templates_path(category_id: category.id), title: category.title %></li>
              <% end %>
            </ol> 
          </li>
        </ul>

        <ul id="user-menu" class="menu right help">
          <li>
            <%= link_to current_user.name, profile_path %>
            <ol>
              <%= render partial: "layouts/shared/user_menus/#{current_user.role.underscore.gsub(' ', '_')}" %>
            </ol>
          </li>
        </ul>

        <% if false %>    
        <!-- THIS IS NOT READY YET -->
        <ul class="menu right help">
          <li>
            <a href="/help" title="Help">Help</a>
            <ol>
                <li><a href="/tutorials" title="Tutorials">Tutorials</a></li>
                <li><a href="/faq" title="FAQ">FAQ</a></li>
                <li><a href="/contact" title="Contact an administrator">Contact an administrator</a></li>            
            </ol>
          </li>
        </ul>
        <% end %>
    </nav>

    <ul class="menu mobile main"> 
      <li><%= link_to "My Stuff", documents_path, title: "My Stuff" %></li>
      <li><a href="/campaigns" title="Browse Templates">Browse Templates</a></li>
    </ul>  
    <ul class="menu mobile user"> 
      <%= link_to "<strong>#{current_user.name}</strong>".html_safe, profile_path %></a>
      <ol>
        <li><%= link_to "My Stuff", documents_path, title: "My Stuff" %></li>
        <% if current_user.admin? %>
        <li><%= link_to "Toolkit Admin", admin_root_path, title: "My Stuff" %></li>
        <% end %>
        <li><%= link_to "Log Out", destroy_user_session_path, method: 'delete' %></li>  
      </ol>
    </ul>  

</header>
