<header>
    <nav>
        <a href="/intro" title="AFSCME Toolkit" id="logo" itemprop="url">
          <%= image_tag("toolkit-logo.svg", alt: "AFSCME Toolkit", itemprop: "logo") %>
        </a>
                
        <ul class="menu left mystuff"> 
          <li>
            <a href="/my-stuff" title="My Stuff">My Stuff</a>
            <ol>
              <li><a href="/my-stuff" title="My designs">My designs</a></li>
              <li><a href="/recent" title="Recent">Recent</a></li>           
              <li><a href="/shared-with-me" title="Shared with me">Shared with me</a></li> 
              <li><%= link_to "My Images", images_path %></li> 
              <li><a href="/trash" title="Trash">Trash</a></li> 
            </ol>
          </li>
        </ul>
        
        <ul class="menu left templates"> 
          <li>
            <a href="/campaigns" title="Browse Templates">Browse Templates</a>
            <ol>
              <li><%= link_to "Campaigns", campaigns_path %></li>
              <li><%= link_to "View All", documents_path, title: "View All" %></li>
              <% @categories.each do |category| %>
                <li><%= link_to category.title, documents_path(category_id: category.id), title: category.title %></li>
              <% end %>
            </ol> 
          </li>
        </ul>

        <ul class="menu right help">
          <li>
            <%= link_to current_user.name, profile_path %>
            <ol>
              <!--li><a href="/my-designs" title="My stuff">My stuff</a></li-->
              <li><%= link_to "Edit Profile", profile_path %></li>
              <!-- these two are only available for administrators -->
              <% if current_user.role == 'Administrator' %>
              <li><%= link_to "Manage Users", admin_users_path %></li>
              <li><%= link_to "Manage Campaigns", admin_campaigns_path %></li>
              <li><%= link_to "Manage Categories", admin_categories_path %></li>
              <% end %>
              <li><%= link_to "Log Out", destroy_user_session_path, method: 'delete' %></li>   
            </ol>
          </li>
        </ul>
        
        <% if false %>    
        <-- THIS IS NOT READY YET -->
        <ul class="menu right help">
          <li>
            <a href="/help" title="Help">Help</a>
            <ol>
                <li><a href="/tutorials" title="Tutorials">Tutorials</a></li>
                <li><a href="/faq" title="FAQ">FAQ</a></li>
                <li><a href="/contact" title="Contact an administrator">Contact an administrator</a></li>            
            </ol>
          </li>
        </ul>
        <% end %>
    </nav>
</header>
