<%= form_for(folder, as: :folder) do |f| %>
  <%= render partial: "/shared/errors", locals: {record: folder} %>
  <%= f.hidden_field :user_id, value: User.current_user.id %>

  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :parent %><br />
    <%= f.folder_select(type: folder.type, name: "folder[parent_id]") %>
  </div>

  <div>
    <%= f.label :type %><br />
    <%= f.select(:type, options_for_select([["Flyer", "FlyerFolder"], ["Image", "ImageFolder"]], folder.type)) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
