<p id="notice"><%= notice %></p>

<h1>Image Folders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_folders.each do |folder| %>
      <tr>
        <td><%= link_to folder.path, folder %></td>
        <td><%= link_to 'Edit', edit_folder_path(folder) %></td>
        <td><%= link_to 'Destroy', folder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Image Folder', new_folder_path(folder: {type: "FlyerFolder"}) %>

<br>

<h1>Flyer Folders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flyer_folders.each do |folder| %>
      <tr>
        <td><%= link_to folder.path, folder %></td>
        <td><%= link_to 'Edit', edit_folder_path(folder) %></td>
        <td><%= link_to 'Destroy', folder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Flyer Folder', new_folder_path(folder: {type: "FlyerFolder"}) %>
