<%= form_for(template, html: {class: "dropzone"}) do |f| %>
  <%= render partial: "/shared/errors", locals: {record: template} %>

  <aside class="preview">
    <ol class="cf">
      <li>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </li>

      <li>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </li>

      <li>
        <%= f.label :campaign %>
        <%= f.select(:campaign_id, options_from_collection_for_select(@campaigns, 'id', 'title', @template.campaign_id), include_blank: true) %>
      </li>

      <li id="customizable-options">
        <%= f.label :customizable_options %>
        <%= f.text_area :customizable_options %>
      </li>

      <li>
        <%= f.label :height, "Height (inches)" %>
        <%= f.text_field :height %>
      </li>

      <li>
        <%= f.label :width, "Width (inches)" %>
        <%= f.text_field :width %>
      </li>

      <li>
        <%= f.label :status %>
        <%= f.status_select %>
      </li>
    </ol>
  </aside>

  <section class="workspace cf">
    <ol>
      <li>
        <%= f.label :thumbnail %>
        <%= f.file_field :thumbnail %>
      </li>

      <li>
        <%= f.label :numbered_image %>
        <%= f.file_field :numbered_image %>
      </li>

      <li>
        <%= f.label :blank_image %>
        <%= f.file_field :blank_image %>
      </li>

      <li id="pdf-markup">
        <%= f.label :pdf_markup %>
        <%= f.text_area :pdf_markup %>
      </li>

      <li id="form-markup">
        <%= f.label :form_markup %>
        <%= f.text_area :form_markup %>
      </li>
    </ol>

    <div class="buttons small cf">
      <%= f.submit "Save", class: "save active" %>
    </div>
  </section>
<% end %>
