<%= form_for(template) do |f| %>
  <%= render partial: "/shared/errors", locals: {record: template} %>

  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %><br />
    <%= f.text_area :title %>
  </div>

  <div>
    <%= f.label :height %><br />
    <%= f.text_field :height %> inches
  </div>

  <div>
    <%= f.label :width %><br />
    <%= f.text_field :width %> inches
  </div>

  <div>
    <%= f.label :status %><br />
    <%= f.status_select %>
  </div>

  <div>
    <%= f.label :pdf_markup %><br />
    <%= f.text_area :pdf_markup %>
  </div>

  <div>
    <%= f.label :form_markup %><br />
    <%= f.text_area :form_markup %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
