<div class="document">
  <%= link_to(
    "", 
    template_path(template),
    class: "document-thumbnail",
    title: template.title,
    style: "background-image: url('#{template.thumbnail.url}');"
  ) %>

  <%= link_to(
      template.title,
      template_path(template),
      class: "document-title",
      title: template.title 
  ) %>

  <ul class="options"> 
    <li>
      <a href="javascript:void(0);" title="Options" class="icons">+</a>
      <ol>
        <% if template.customize? %>
          <li><%= link_to "<span class='icons'>S</span> View".html_safe, template_path(template), title: "View" %></li>
          <% if User.current_user.admin? %>
            <li><%= link_to "<span class='icons'>e</span> Edit".html_safe, edit_admin_template_path(template), title: "Edit" %></li>
          <% end %>
        <% else %>
          <li><%= link_to "<span class='icons'>d</span> Download".html_safe, template.static_pdf.url, title: "Download" %></li>
        <% end %>
      </ol>
    </li>
  </ul>
</div>