<% content_for :title, "Templates: #{@template.title}" %>
<% breadcrumb :template, @template %>

<aside class="preview">
  <ol> 
    <li>
      <span class="metadata-label">Title</span>
      <%= @template.title %>    
    </li>
              
    <li>
      <span class="metadata-label">Description</span>
      <%= @template.description.html_safe %>
    </li>
    
    <% if @template.customize %>
      <li><strong class="metadata-label">Dimensions</strong><%= dimensions(@template) %></li>
    <% end %>

    <li><strong class="metadata-label">Toolkit</strong><%= @template.campaigns.length > 0 ? @template.campaigns.map(&:title).join(", ").html_safe : 'None'  %></li>
    <li><strong class="metadata-label">Type</strong>Flyer</li>
    
    <% if @template.customize %>
      <li>
        <span class="metadata-label">Customizable Options</span>
        <%= @template.customizable_options.html_safe %>
      </li>
    <% end %>
  </ol>
</aside>
  
<section class="workspace cf">
  <figure class="template-preview"> 
    <% if @template.numbered_image_url %>
      <%= image_tag @template.numbered_image_url, alt: @template.title %>
    <% end %>
  </figure>

  <div class="buttons small cf">
    <% if @template.customize %>
      <%= link_to "Customize", new_document_path(template_id: @template.id), title: "Customize", class: "button" %>
    <% else %>
      <%= link_to "Download", @template.static_pdf_url, title: "Download", class: "button" %>
    <% end %>
  </div>
</section>
