<% breadcrumb :admin %>

<main>
<h2>AFSCME Toolkit Administration</h2>

<ul>
	<li><%= link_to "Manage Users", admin_users_path %></li>
	<li><%= link_to "Manage Campaigns", admin_campaigns_path %></li>
	<li><%= link_to "Manage Categories", admin_categories_path %></li>
  <li><%= link_to "Manage Templates", admin_templates_path %></li>
  <li><%= link_to "Statistics", admin_stats_path %></li>
	<li><%= link_to "Documentation", admin_documentation_path, target: :_blank %></li>
</ul>
</main>