<% breadcrumb :admin %>

<main class="activity-feed">
  <% @documents.each do |document| %>
    <%
      # Find a link to the document
      case document.template.format
      when "pdf"
        link = document.pdf_url
      when "png"
        link = document.share_graphic_url
      end
    %>
    <div class="activity-feed-item cf">
      <p class="activity-feed-date"><%= time_ago_in_words(document.created_at) %> ago</p>
      <p class="activity-feed-info">
        <%= link_to document.creator.name, edit_admin_user_path(document.creator), target: :_blank %> created <%= link_to document.title, link, target: :_blank %>.<br />
        <b>Created At:</b> <%= document.created_at.strftime("%B %e %Y at %r") %><br />
        <b>Template:</b> <%= document.template.title %><br />
        <b> <%= link_to "Download", link, target: :_blank %></b>
      </p>
    </div>
  <% end %>
</main>
