<%= form_for(campaign, url: admin_campaign_path(campaign), html: { method: :put } ) do |f| %>

  <%= render partial: "/shared/errors", locals: {record: campaign} %>

  <ol>
    <li>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </li>

    <li>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </li>

    <li>
      <%= f.label :parent %>
      <%= f.select(:parent_id, options_from_collection_for_select(Campaign.where("id != ?", campaign.id).reorder(:title), "id", "path", campaign.parent_id), include_blank: "NULL") %>
    </li>

    <li>
      <%= f.label :status %>
      <%= f.status_select %>
    </li>
  </ol>

  <div class="buttons small cf">
    <%= f.submit "Save", class: "button" %>
  </div>
<% end %>
