<div class="document">
  <%= link_to(
    "", 
    edit_document_path(document),
    class: "document-thumbnail",
    title: document.title,
    style: "background-image: url('#{document.template.thumbnail.url}');"
  ) %>

  <%= link_to(
      document.title,
      edit_document_path(document),
      class: "document-title",
      title: document.title 
  ) %>

  <ul class="options"> 
    <li>
      <a href="javascript:void(0);" title="Options" class="icons">+</a>
      <ol>
        <li><%= link_to "<span class='icons'>e</span> View".html_safe, template_path(document.template), title: "View" %></li>
        <li><%= link_to "<span class='icons'>c</span> Duplicate".html_safe, duplicate_document_path(document), title: "Duplicate" %></li>
        <li><%= link_to "<span class='icons'>d</span> Download".html_safe, download_link(document), title: "Download", target: :blank %></li> 
      </ol>
    </li>
  </ul>
</div>
