<%= form_for(@document,
  html: {
    novalidate: "novalidate", 
    data: {
      "document"       => true,
      "crop-enabled"   => @template.croppable?,
      "template-id"    => @template.id
    }
  }
) do |f| %>
  <%= f.hidden_field :template_id, value: @template.id %>
  <%= f.hidden_field :status, value: :publish %>
  
  <% if @document.new_record? %>
    <%= f.hidden_field :creator_id, value: current_user.id %>
  <% end %>

  <main class="clearfix">
    <aside class="preview">
      <ol>
        <li>
          <% unless @document.new_record? %>
            <label>
              <%= link_to(
                "Launch full size preview",
                preview_document_path(@document),
                class: "full-preview active",
                target: :_blank,
                title:  changed_document_message
              ) %>
              Preview
            </label>
          <% end %>

          <%= image_tag @template.numbered_image_url %>
        </li>
        <li>
          <%= f.label :title %>
          <%= f.text_field :title %>
        </li>

        <li>
          <%= f.label :description %>
          <%= f.text_area :description %> 
        </li>
                
        <li><strong class="metadata-label">Dimensions</strong><%= dimensions(@template) %></li>
        <li><strong class="metadata-label">Toolkit</strong><%= @campaign.title if @campaign %></li>
        <li><strong class="metadata-label">Type</strong>Flyer</li>

      <% unless @template.crop_marks == 'no_crop_marks' %>
        <li class="crop-radio">
          <%= f.check_box :crop_marks, checked: check_crop_marks? %> 
          <%= f.label :crop_marks do %>
            <div class="radio-button"></div>
            Display Crop Marks
          <% end %>
        </li>
      <% end %>
      </ol>
    </aside>
        
    <section class="workspace cf">

      <% unless @custom_branding  %>
      <script>
      $(document).ready(function(){
        var _branding_div = $('#branding');
        if (_branding_div) { $(_branding_div).remove(); }
      });
      </script>
      <% end %>

      <%= @template.form_markup.html_safe %>

      <div class="buttons small cf">
        <% unless @document.new_record? %>
          <%= link_to(
            "Download".html_safe,
            @document.pdf&.url,
            target: :blank,
            class:  "preview action button download-document",
            title:  changed_document_message,
            style:  @document.pdf_file_name ? "" : "display:none"
          ) %>
        <% end %>
        <%= f.button "Save", class: "button save active" %>
      </div>
    </section>
  </main>
<% end %>

<script type="text/javascript">
  tinyMCE.init({
    branding: false,
    menubar:  "edit view format tools",
    plugins:  "code searchreplace lists",
    selector: "textarea.tinymce",
    toolbar:  "styleselect | bold italic underline strikethrough | bullist numlist | indent outdent | alignleft aligncenter alignright alignjustify | undo redo",
    extended_valid_elements: "script[src] style",
    init_instance_callback: function(editor) {
      window.Toolkit.Document.fillWysiwyg(editor);

      editor.on('Change', function (e) {
        $field  = $("#"+e.target.id);
        content = e.level.content;
        $field.val(content).trigger("change");
      });
    }
  });
</script>
