<%= form_for(@document,
  html: {
    novalidate: "novalidate", 
    data: {
      "document"       => true,
      "crop-enabled"   => @template.croppable?,
      "crop-context"   => @template.blank_image.url,
      "context-height" => @template.height,
      "context-width"  => @template.width
    }
  }
) do |f| %>
  <%= f.hidden_field :template_id, value: @template.id %>
  
  <% if @document.new_record? %>
    <%= f.hidden_field :creator_id, value: User.current_user.id %>
  <% end %>

  <main class="clearfix">
    <aside class="preview">
      <ol>
        <% if @document.pdf_file_name %>
          <li>
            <label>
              <%= link_to(
                "Launch full size preview",
                @document.pdf.url,
                name: "commit",
                value: "Preview",
                class: "full-preview active",
                target: :_blank 
              ) %>
              Preview
            </label>

            <%= image_tag @template.numbered_image %>
          </li>
        <% end %>
        <li>
          <%= f.label :title %>
          <%= f.text_field :title %>
        </li>
                    
        <li>
          <%= f.label :description %>
          <%= f.text_area :description %> 
        </li>

        <li>
          <%= f.label :status %>
          <%= f.status_select %>
        </li>
                
        <li><strong class="metadata-label">Dimensions</strong><%= dimensions(@template) %></li>
        <li><strong class="metadata-label">Toolkit</strong><%= @campaign.title if @campaign %></li>
        <li><strong class="metadata-label">Type</strong>Flyer</li>
      </ol>
    </aside>
        
    <section class="workspace cf">
      <%= @template.form_markup.html_safe %>

      <div class="buttons small cf">
        <% unless @document.new_record? %>
          <%= link_to "Download".html_safe, download_link(@document), class: "preview action button", data: {download: true} %>
        <% end %>
        <%= f.button "Save", class: "button save active" %>
      </div>
    </section>
  </main>
<% end %>
