<ul> 
  <li <% if params[:controller] == 'documents' && params[:action] == 'index' %>class="active"<% end %>>
    <%= link_to "My Designs", documents_path, title: "My Designs" %>
    <div class="contents-counter"><%= @documents.count %></div>
  </li>
        
  <li <% if params[:action] == 'recent' %>class="active"<% end %>>
    <%= link_to "Recent", recent_documents_path, title: "Recent" %>
    <div class="contents-counter"><%= @recent.count %></div>
  </li>

  <!-- shared with me here when done -->

  <li>
    <%= link_to "Images", images_path, title: "Images" %>
    <div class="contents-counter"><%= @images.count %></div>
  </li>  

  <li>
    <%= link_to "Stock Images", stock_images_path, title: "Stock Images" %>
    <div class="contents-counter"><%= @stock_images.count %></div>
  </li>  

  <li <% if params[:action] == 'trashed' %>class="active"<% end %>>
    <%= link_to "Trash", trashed_documents_path, title: "Trash" %>
    <div class="contents-counter"><%= @trashed.count %></div>
  </li>
</ul>
