<main class="login-screen">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1>Log in</h1>
    <ol>
      <li>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email Address' %> 
      </li>
      <li>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>  
      </li>
      <% if devise_mapping.rememberable? -%>
      <li class="checkbox clearfix">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </li>
      <% end -%>
      <li class="button">
          <input type="submit" name="commit" value="Log in">
      </li>
    </ol>  
  <% end %>
  
  <p class="alternative-links">
    <%= link_to "Forgot your password?", new_user_password_path %>&nbsp;|&nbsp; <%= link_to 'Apply for an account', new_user_registration_path %></a>
  </p>
</main>
