<li>
  <%= link_to(
    "<span class='icons'>c</span> Duplicate".html_safe,
    duplicate_document_path(document),
    title: "Duplicate",
    class: "duplicate"
  ) %>
</li>
<li>
  <% if document.pdf_file_name %>
    <%= link_to(
      "<span class='icons'>d</span> Download".html_safe,
      document.pdf_url_with_timestamp,
      title:  "Download",
      class:  "download",
      target: :_blank,
    ) %>
  <% elsif document.share_graphic_file_name %>
    <%= link_to(
      "<span class='icons'>d</span> Download".html_safe,
      document.share_graphic_url_with_timestamp,
      title:  "Download",
      class:  "download",
      target: :_blank,
    ) %>
  <% else %>
    <%= link_to(
      "<span class='icons'>d</span> Download".html_safe,
      download_document_path(document),
      title:  "Download",
      class:  "download",
      remote: true,
      data:   {id: document.id, job: "pdfAndThumbnail"}
    ) %>
  <% end %>
</li> 
<li>
  <%= link_to(
    "<span class='icons'>x</span> Delete".html_safe,
    trash_document_path(document),
    title:  "Delete",
    class:  "delete",
    method: :patch,
    data:   {confirm: "Are you sure that you want to move this document to the trash?"} 
  ) %>
</li>
<li>
  <%= link_to(
    "<span class='icons'>S</span> Preview".html_safe,
    preview_document_path(document),
    title:  "Preview PDF",
    class:  "preview",
    target: :_blank 
  ) %>
</li>
<% if current_user.admin? %>
  <li>
    <%= link_to(
      "<span class='icons'>F</span> Rebuild".html_safe,
      download_document_path(document),
      title:  "Rebuild",
      class:  "rebuild",
      remote: true,
      data: {id: document.id, job: "pdfAndThumbnail"} 
    ) %>
  </li> 
<% end %>
