<p id="notice"><%= notice %></p>

<h1>Stock Images</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_images.each do |stock_image| %>
      <tr>
        <td><%= stock_image.title %></td>
        <td><%= stock_image.image %></td>
        <td><%= stock_image.status %></td>
        <td><%= link_to 'Show', stock_image %></td>
        <td><%= link_to 'Edit', edit_stock_image_path(stock_image) %></td>
        <td><%= link_to 'Destroy', stock_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock Image', new_stock_image_path %>
