<%= form_for image, html: { id: "image-form", class: 'dropzone profile-form edit-form split cf', multipart: true } do |f| %>
  <% if image.new_record? %>
    <%= f.hidden_field :creator_id, value: User.current_user.id %>
  <% end %>

  <%= render partial: "/shared/errors", locals: {record: image} %>

  <% if image.image_file_name %>
    <div class="current-image">
      <img src="<%= image.image.url %>" />
    </div>
  <% end %>

  <div class="fallback">
    <%= f.file_field :image %>
  </div>
<% end %>

<div id="image-error"></div>
