<%= form_for image, html: { multipart: true } do |f| %>
  <%= render partial: "/shared/errors", locals: {record: image} %>

  <div>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  
  <div>
    <%= f.label :folder %><br />
    <%= f.folder_select %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
