<% no_link ||= false %>

<% if no_link == true %>
  <figure>
    <img src="<%= image.image.url(:cropped) %>" alt="<%= image.image_file_name %>" />
    <figcaption><%= image.image_file_name %></figcaption>
  </figure>
<% else %>
  <figure>
    <%= link_to edit_image_path(image) do %>
      <img src="<%= image.image.url(:cropped) %>" alt="<%= image.image_file_name %>" />
      <figcaption><%= image.image_file_name %></figcaption>
    <% end %>

    <ul class="options"> 
      <li>
        <a href="javascript:void(0);" title="Options" class="icons">+</a>
        <ol>
          <% case image.status %>
          <% when "trash" %>
            <%= render partial: "images/menus/trash", locals: {image: image} %>
          <% else %>
            <%= render partial: "images/menus/publish", locals: {image: image} %>
          <% end %>
        </ol>
      </li>
    </ul>
  </figure>
<% end %>
