<ul>
  <li class="active">
      <% link_to "My Designs", documents_path %>
      <div class="contents-counter"><%= current_user.documents.count %></div>
  </li>
      
  <li>
    <%= link_to "Recent", recent_images_path, title: "Recent" %>
    <div class="contents-counter"><%= @recent.count %></div>
  </li>
  <% if false %>
  <li>
    <%= link_to "Shared with Me", shared_images_path, title: "Shared with Me" %>
    <div class="contents-counter"><%= @shared.count %></div>
  </li>
  <% end %>
  
  <li>
    <%= link_to "My Images", images_path, title: "My Images" %>
    <div class="contents-counter"><%= current_user.images.count %></div>
  </li>
  <% if false %>
  <li>
      <a href="#" title="Trash">Trash</a>
      <div class="contents-counter">0</div>
  </li>
  <% end %>
</ul>
