<div id="croparea">
  <div class="drag">
    <img class="resize" src="<%= @image.image.url %>" />
  </div>
</div>

<%= form_for(@image, remote: true) do |f| %>
  <%= hidden_field_tag :format, :json %>
  
  <!-- f.cropbox :image, {aspect_ratio: params[:context_width].to_f / params[:context_height].to_f} -->
  <label for="resize-image">Drag to Resize</label>
  <input id="resize-image" type="range" min="0" max="200" value="100" />

  <%= f.submit "Crop Image", class: "save button active" %>
<% end %>

<style>
#croparea {
  background-image:  url('<%= params[:context] %>');
  background-size:   cover;

  height:  <%= params[:context_height].to_i * 75 %>px;
  width:   <%= params[:context_width].to_i * 75 %>px;
  border:  solid 2px #000;
  z-index: 2;
}

img.resize {
  position: relative;
  top:      0px;
  left:     0px;
  z-index:  1;
}
</style>