<div id="croparea" data-height="<%= @image.dimensions(:image)[:height] %>" data-width="<%= @image.dimensions(:image)[:width] %>">
  <div class="drag">
    <img id="uploaded" src="<%= @image.image.url %>" />
  </div>
  <img id="context" src="<%= @template.blank_image %>" />
</div>

<%= form_for(@image, remote: true) do |f| %>
  <%= hidden_field_tag :format, :json %>
  <%= f.hidden_field :image_crop_x, value: "" %>
  <%= f.hidden_field :image_crop_y, value: "" %>
  <%= f.hidden_field :image_crop_w, value: "" %>
  <%= f.hidden_field :image_crop_h, value: "" %>
  <%= f.hidden_field :image_size_w, value: "" %>
  <%= f.hidden_field :image_size_h, value: "" %>

  <label for="resize-image">Drag to Resize</label>
  <input id="resize-image" type="range" min="0" max="200" value="100" />

  <%= f.submit "Crop Image", class: "save button active" %>
<% end %>

<style>
#croparea {
  height:   <%= @template.dimensions(:blank_image)[:height].to_f %>px;
  width:    <%= @template.dimensions(:blank_image)[:width].to_f %>px;
  border:   solid 2px #000;
  overflow: hidden;
  z-index:  2;
}

#uploaded {
  position: absolute;
  top:      0;
  left:     0;
  z-index:  1;
  height:   <%= @image.dimensions(:image)[:height] %>px;
  width:    <%= @image.dimensions(:image)[:width] %>px;
  border:   solid 1px #000;
}

#context {
  position: relative;
  z-index:  1;
  pointer-events: none;
}
</style>
