<% content_for :title {"Edit Profile"} %>
<% breadcrumb :profile, @user %>

<% content_for :breadcrumb_extras do %>
  <%= render partial: "users/registrations/breadcrumbs" %>
<% end %>

<main class="clearfix">
  <section class="workspace cf">
   <%= form_for(resource, as: resource_name, url: admin_user_path(resource), html: { method: :put, class: 'profile-form edit-form cf'}) do |f| %>
    <%= devise_error_messages! %>
         
    <ol class="cf">
      <li>
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true %>              
      </li>
        
      <li>
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true %>              
      </li>
        
      <li>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </li>
        
      <li>
        <%= f.label :zip_code %><br />
        <%= f.text_field :zip_code, autofocus: true %>              
      </li>
        
      <li>
        <%= f.label :affiliate_id, 'Affiliate/Council' %><br />
        <%= f.select(:affiliate_id) do %>
          <% @affiliates.each do |aff| %>
            <%= options_for_select(@affiliates.collect { |aff| [aff.to_s, aff.id] }, @user.affiliate_id) %>
          <% end %>
        <% end %>          
      </li>
        
      <li>
        <%= f.label :local_number %><br />
        <%= f.text_field :local_number, autofocus: true %>              
      </li>
        
      <li>
        <%= f.label :department %>
        <%= f.select(:department) do %>
          <%= options_for_select( User::DEPARTMENTS ,resource.department) %>
        <% end %>
      </li>

      <li>
        <%= f.label :cell_phone %><br />
        <%= f.text_field :cell_phone, autofocus: true %>              
      </li>
        
      <li class="checkbox clearfix">
        <%= f.check_box :receive_alerts %>  
        <%= f.label :receive_alerts, 'By providing my cell phone number, I agree to receive text, autodialed and/or prerecorded messages at the cell number provided above on any subject from AFSCME and affiliated labor, political, or charitable organizations. Message and data rates may apply.' %></label>
      </li>
        
    </ol> 
    
    <div class="buttons small cf">
      <%= f.submit "Save Changes", class: 'button' %>
    </div>
          
   <% end %>

  </section><!--workspace-->
      
</main>


<% if false %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
<% end %>