<main class="account-application">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h1>Request Access</h1> 
    <ol class="cf">
      <li>
        <%= f.text_field :first_name, autofocus: true, placeholder: 'First name*' %>   
      </li>
      <li>
        <%= f.text_field :last_name, placeholder: 'Last name*' %>   
      </li>  
      <li>
        <%= f.email_field :email, placeholder: 'Email Address*' %>   
      </li>    
      <li>
        <%= f.text_field :zip_code, placeholder: 'Zip Code*' %>   
      </li>      
      <li>
        <label for="user_affiliate_council">Affiliate/Council</label>
        <select id="user_affiliate_council" name="user[council]" tabindex="-1">
          <option value="">Affiliate/Council*</option>
          <option value="L16">AK - Anchorage Municipal Employees</option>
          <option value="L52">AK - Alaska State Employees Association</option>
          <option value="L803">AK - PSEA Local 803</option>
          <option value="L52">AK - Alaska Retirees Chapter 52</option>
          <option value="C38">AR - Arkansas State Council</option>
          <option value="L2384">AZ - Phoenix Arizona City Employees</option>
          <option value="L2960">AZ - Phoenix Clerical Pre-Professional</option>
          <option value="L3282">AZ - Peoria City; Gila &amp; Maricopa</option>
          <option value="L449">AZ - Tucson-Pima County Area Public Employees</option>
          <option value="RC97">AZ - Arizona Retirees Chapter 97</option>
          <option value="C36">CA - California District Council 36</option>
          <option value="C57">CA - California District Council 57</option>
          <option value="L1001">CA - MAPA Local 1001</option>
          <option value="L1902">CA - Metro Water District Employees</option>
          <option value="L206">CA - Union of American Physicians &amp; Dentists</option>
          <option value="L3299">CA - University of California Employees</option>
          <option value="L3930">CA - UDWA Local 3930</option>
          <option value="L4034">CA - CUCalifornia United Homecare Workers</option>
          <option value="L4911">CA - UEMSW Emergency Medical Workers</option>
          <option value="RC1199">CA - UNAC/UHCP 1199U Retirees</option>
          <option value="RC36">CA - California Retiree Chapter 36</option>
          <option value="RC57">CA - California Retiree Chapter 57</option>
          <option value="RSC206">CA - UAPD Retiree Sub-Chapter 206</option>
          <option value="C76">CO - Colorado Union of Public Employees</option>
          <option value="L1876">CO - Colorado Wins State Employees</option>
          <option value="RC76">CO - Colorado Public Employees Retiree Chapter 76</option>
          <option value="C4">CT - Connecticut Council 4</option>
          <option value="RC15">CT - Connecticut Retired Police Officers Association</option>
          <option value="RC4">CT - Connecticut Public Employees Retiree Chapter 4</option>
          <option value="C20">DC - Washington D.C. Council 20</option>
          <option value="C26">DC - Capital Area Council of Federal Employees</option>
          <option value="C300">DC - PCT Bookkeeping</option>
          <option value="RC300">DC - Retirees at Large</option>
          <option value="RC9980">DC - Retirees AFSCME Pensioners</option>
          <option value="RC9990">DC - UNCHRT Retirees</option>
          <option value="C81">DE - Delaware Public Employees Council 81</option>
          <option value="RC81">DE - AFSCME Delaware Retirees</option>
          <option value="C79">FL - Florida Public Employees Council 79</option>
          <option value="RC11">FL - City of Miami Association of Retired Employees</option>
          <option value="RC79">FL - Florida Public Retirees</option>
          <option value="L1644">GA - Greater Atlanta Area Employees</option>
          <option value="L3">GA - Fulton County Employees</option>
          <option value="L152">HI - HawaiiI Government Employees Association</option>
          <option value="L646">HI - United Public Workers</option>
          <option value="L928">HI - AFSCME Local 928</option>
          <option value="RC152">HI - Hawaii AFSCME Retirees Chapter 152</option>
          <option value="RC646">HI - Hawaii UPW AFSCME Retirees Chapter 646</option>
          <option value="C61">IA - Iowa Public Employees Council 61</option>
          <option value="RC61">IA - Iowa Retiree Chapter 61</option>
          <option value="C31">IL - Illinois Pubic Employees Council 31</option>
          <option value="RC31">IL - Illinois Public Employees Retirees</option>
          <option value="C962">IN - Indiana-Kentucky Council 962</option>
          <option value="RC9962">IN - Indiana Retirees</option>
          <option value="L300">KS - KOSE</option>
          <option value="C962">KY - Indiana-Kentucky Council 962</option>
          <option value="C72">KY - Missouri &amp; Kansas Council 72</option>
          <option value="C17">LA - Louisiana Public Employees Council 17</option>
          <option value="C93">MA - AFSCME Council 93</option>
          <option value="L1798">MA - Union of Social Workers</option>
          <option value="L3650">MA - Harvard Clerical &amp; Tech Workers</option>
          <option value="L3900">MA - SHARE Local 3900</option>
          <option value="L4000">MA - SHARE Local 4000</option>
          <option value="RC93">MA - Massachusetts Public Employees Retiree Chapter 93</option>
          <option value="C3">MD - Maryland Council 3</option>
          <option value="C67">MD - Maryland Public Employees Council 67</option>
          <option value="L2250">MD - Prince George's County Public Service Employees</option>
          <option value="RC1">MD - Maryland Public Employees Retiree Chapter 1</option>
          <option value="RSC2250">MD - ACE/AFSCME Retirees Sub-Chapter 2250</option>
          <option value="C93">ME - AFSCME Council 93</option>
          <option value="RC93">ME - Maine Public Employees Retiree Chapter 93</option>
          <option value="C25">MI - Michigan Council 25</option>
          <option value="L5">MI - Michigan State Employees Association</option>
          <option value="RC9925">MI - Michigan Organizing Chapter 9925</option>
          <option value="C5">MN - Minnesota Council Number 5</option>
          <option value="C65">MN - Minnesota and Dakotas Council 65</option>
          <option value="RC5">MN - Minnesota Retirees United</option>
          <option value="RC65">MN - Minnesota Retirees Chapter 65</option>
          <option value="C72">MO - Missouri &amp; Kansas Council 72</option>
          <option value="L500">MO - Kansas City Public Employees</option>
          <option value="RC9972">MO - Missouri Retirees Chapter</option>
          <option value="C9">MT - Montana State Council 9</option>
          <option value="RC9">MT - Montana Retirees Public Employees Retiree Chapter 9</option>
          <option value="L77">NC - Duke University Employees</option>
          <option value="RSC165">NC - North Carolina AFSCME Retirees</option>
          <option value="C65">ND - Minnesota and Dakotas Council 65</option>
          <option value="L2468">NE - Lancaster County Courthouse Employees</option>
          <option value="L251">NE - Nebraska Public Employees</option>
          <option value="L61">NE - Nebraska Association of Public Employees</option>
          <option value="RC161">NE - NAPE Retiree Chapter 161</option>
          <option value="C93">NH - AFSCME Council 93</option>
          <option value="RC93">NH - New Hampshire Public Employees Retiree Chapter 93</option>
          <option value="C1">NJ - New Jersey Public Employees Council 1</option>
          <option value="C52">NJ - Northern New Jersey Council 52</option>
          <option value="C71">NJ - Southern New Jersey District Council 71</option>
          <option value="C73">NJ - Central New Jersey District Council 73</option>
          <option value="RSC9901">NJ - New Jersey Sub-Chapter 1 Retirees</option>
          <option value="RC1199">NJ - 1199J Retired Members Division</option>
          <option value="C18">NM - New Mexico Public Employees Council 18</option>
          <option value="RC18">NM - New Mexico Public Employees Retiree Chapter 18</option>
          <option value="L1199">NT - NUHHCE Local 1199</option>
          <option value="L4041">NV - AFSCME Local 4041</option>
          <option value="RC4041">NV - SNEA/AFSCME Retirees Chapter 4041</option>
          <option value="C1707">NY - District Council 1707</option>
          <option value="C35">NY - Buffalo District Council 35</option>
          <option value="C37">NY - New York City District Council 37</option>
          <option value="C66">NY - New York County Municipal Employees</option>
          <option value="C82">NY - New York State Law Enforcement Officers Union</option>
          <option value="L1000">NY - Civil Service Employees Association (CSEA)</option>
          <option value="RC1000">NY - Retiree Division CSEA Chapter 1000</option>
          <option value="RC1707">NY - District Council 1707 Retirees</option>
          <option value="RC35">NY - Buffalo New York Retirees Chapter 35</option>
          <option value="RC37">NY - Retirees Association of NYC District Counicl 37</option>
          <option value="RC82">NY - New York State Law Enforcement Retirees</option>
          <option value="C8">OH - Ohio Council 8</option>
          <option value="L11">OH - Ohio Civil Service Employees Association</option>
          <option value="L4">OH - Ohio Association of Public Service Employees Local 4</option>
          <option value="RC1184">OH - Ohio AFSCME Retiree Chapter</option>
          <option value="L1136">OK - Enid Oklahoma City Employees</option>
          <option value="L1180">OK - Tulsa Public Employees Union</option>
          <option value="L2406">OK - Local 2406</option>
          <option value="L2465">OK - Muskogee Oklahoma Municipal Employees</option>
          <option value="L2875">OK - Norman Oklahoma City Employees</option>
          <option value="C75">OR - Oregon AFSCME Council 75</option>
          <option value="RC75">OR - Oregon Public Retirees</option>
          <option value="C13">PA - Pennsylvania Public Employees Council 13</option>
          <option value="C33">PA - District Council 33</option>
          <option value="C47">PA - Admin Professional &amp; Tech Employees Council 47</option>
          <option value="C83">PA - Southwestern PA Public Employees District Council 83</option>
          <option value="C84">PA - Western PA Public Employees District Council 84</option>
          <option value="C85">PA - Northwestern PA Public Employees District Council 85</option>
          <option value="C86">PA - North Central PA Public Employees District Council 86</option>
          <option value="C87">PA - Northeastern PA Public Employees District Council 87</option>
          <option value="C88">PA - Southeastern PA Public Employees District Council 88</option>
          <option value="C89">PA - Southern PA Public Employees District Council 89</option>
          <option value="C90">PA - Dauphin County PA Public Employees District Council 90</option>
          <option value="RC1199">PA - 1199C Retired Members Division</option>
          <option value="RC13">PA - Retired Public Employees PA Chapter 13</option>
          <option value="RC2">PA - Golden Age Club</option>
          <option value="RC47">PA - Philadelphia Retirees Chapter 47</option>
          <option value="C95">PR - SPUPR/AFSCME Council 95</option>
          <option value="RC95">PR - United Public Workers of Puerto Rico</option>
          <option value="C94">RI - Rhode Island Council 94</option>
          <option value="RC94">RI - AFSCME Rhode Island Retirees</option>
          <option value="C65">SD - Minnesota and Dakotas Council 65</option>
          <option value="L1733">TN - Memphis Public Employees Union</option>
          <option value="L2173">TN - Brushy Mt State Prison Employees</option>
          <option value="C7">TX - AFSCME Texas Correctional Employees Council 7</option>
          <option value="L123">TX - HOPE</option>
          <option value="L1550">TX - AFSCME Local 1550</option>
          <option value="L1624">TX - Central Texas Public Employees Local 1624</option>
          <option value="L59">TX - El Paso Texas Public Employees</option>
          <option value="RC12">TX - Texas Public Retirees Chapter 12</option>
          <option value="RC1550">TX - Houston Public Employees Retiree Chapter 1550</option>
          <option value="L1004">UT - Utah Public Employees</option>
          <option value="C27">VA - Virginia State Employees Council 27</option>
          <option value="L3001">VA - Virginia Public Employees Union Local 3001</option>
          <option value="C93">VT - AFSCME Council 93</option>
          <option value="RC93">VT - Vermont Public Employees Retiree Chapter 93</option>
          <option value="C2">WA - Washington State County &amp; City Employees Council 2</option>
          <option value="C28">WA - Washington Federation of State Employees Council 28</option>
          <option value="RC10">WA - Retired Public Employees Council</option>
          <option value="C32">WI - Wisconsin Council 32</option>
          <option value="RC32">WI - Wisconsin Retired Public Employees</option>
          <option value="C77">WV - AFSCME West Virginia Council 77</option>
          <option value="RC77">WV - West Virginia Public Employees Retirees Chapter 77</option>
          <option value="Unknown">Other/None/Don't Know</option>
        </select> 
      </li>
      <li>
        <%= f.text_field :local_number, placeholder: 'Local Number' %>   
      </li> 
      <li>
        <label for="user_title">Title</label>
        <select id="user_title" name="user[title]" tabindex="-1">
          <option value="">Title*</option>
          <option value="IU-Comms">IU-Comms</option>
          <option value="IU-Organizing">IU-Organizing</option>
          <option value="IU-Political">IU-Political</option>
          <option value="Council-Comms">Council-Comms</option>
          <option value="Council-Organizing">Council-Organizing</option>
          <option value="Council-Political">Council-Political</option>
          <option value="Local-President">Local-President</option>
        </select>
      </li>
      <li>
        <%= f.text_field :cell_phone, placeholder: 'Cell Phone' %>   
           
        <div class="checkbox clearfix">
          <%= f.check_box :receive_alerts %>  
          <%= f.label :receive_alerts, 'I would like to receive periodic text message alerts on this and other issues (Msg &amp; data rates may apply)' %></label>
        </div> 
      </li>
      
      <li class="button">
        <input type="submit" name="commit" value="Submit Request">
      </li>
    </ol>   

  <% end %>
</main>