<% content_for :title, "New User" %>
<% if false%>
<%= render partial: "users/registrations/validation" %>

<%= devise_error_messages! %>

<div class="errorTxt"></div>

<main class="account-application">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h1>Request Access</h1> 
    <ol class="cf">
      <li>
        <%= f.text_field :first_name, autofocus: true, placeholder: 'First name*' %>   
      </li>
      <li>
        <%= f.text_field :last_name, placeholder: 'Last name*' %>   
      </li>  
      <li>
        <%= f.email_field :email, placeholder: 'Email Address*' %>   
      </li>    
      <li>
        <%= f.text_field :zip_code, placeholder: 'Zip Code*' %>   
      </li>      
      <li>
        <%= f.select(:affiliate_id) do %>
          <%= content_tag(:option, "Affiliate/Council*", value: '') %>
          <% Affiliate.order(:state,:title).each do |aff| -%>
            <%= content_tag(:option, aff.to_s, value: aff.id) %>
          <% end %>
        <% end %>   
      </li>
      <li>
        <%= f.text_field :local_number, placeholder: 'Local Number' %>   
      </li> 
      <li>
        <%= f.select(:department) do %>
          <%= content_tag(:option, "Department*", value: '') %>
          <% User::DEPARTMENTS.each do |c| -%>
            <%= content_tag(:option, c, value: c) %>
          <% end %>
        <% end %>
      </li>
      <li>
        <%= f.text_field :cell_phone, placeholder: 'Cell Phone' %>   
           
        <div class="checkbox clearfix">
          <%= f.check_box :receive_alerts %>  
          <%= f.label :receive_alerts, 'By providing my cell phone number, I agree to receive text, autodialed and/or prerecorded messages at the cell number provided above on any subject from AFSCME and affiliated labor, political, or charitable organizations. Message and data rates may apply.' %></label>
        </div> 
      </li>
      
      <li class="button">
        <input type="submit" name="commit" value="Submit Request">
      </li>
    </ol>   

  <% end %>
</main>
<% end %>